.idea
venv

__pycache__
aclImdb
12 Parallelizing Neural Network Training with PyTorch/cat_dog_images/
12 Parallelizing Neural Network Training with PyTorch/figures/
12 Parallelizing Neural Network Training with PyTorch/img_align_celeba/
12 Parallelizing Neural Network Training with PyTorch/MNIST/

.pytest